/* Styles for home page */
.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  position: absolute;
  width: 100%;
}

/* The default mount element */
/* #flatfile_iFrameContainer {
} */

/* A div around the iframe that contains Flatfile */
/* .flatfile_iframe-wrapper {
} */

/* The actual iframe that contains Flatfile */
/* #flatfile_iframe {
} */

/* Begin style overrides for when Flatfile is displayed as a modal */

